


html {
background-color:#fff;
color:#555;
font-family: 'Lato','Arial', 'san-serif';
font-weight:300;
font-size:30px;
text-rendering: optimizeLegibility;
}



*{
margin: 0;
padding: 0;


    
}


/* --main navi*/
.main-nav{
padding-right:50px;  
list-style:none;
margin-top:55px;

}

.main-nav li{  
display:inline-block;
padding-left:2px;

}

.main-nav li a:link,
.main-nav li a:visited
{
padding: 8px 0px;
color:#fff;
text-decoration:none;
text-transform:uppercase;
font-size:90%;
border-bottom:2px solid transparent;
transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active
{
border-bottom: 2px solid #e67e22;      
}
    
.signup{
    border-radius:5px;
    background: rgba(44,62,80,0.7);
    padding: 0px;
    width: 250px;
    margin-top:2%;
    margin-bottom:10px;
    height: auto;
    margin-right:auto;
    margin-left:auto;
   
}
.signup form{
    color:#fff;
    width: 240px;
    text-align: center;
    padding-bottom:20px;
    margin-bottom:5%;
}
.signup input{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.signup input[type=button]{
    border: none;
    outline: none;
    width: 190px;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.signup input[type=button]:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
}


::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
} 



ion-icon {
  float:right;
  font-size: 30px;
  margin-right: 0;
  
}


.footer-links a{
    
float:right; 
color:#000000   
    
    
}
.footer-nav a{
      
color:rgba(150,240,90,0.96); 
    
    
}



  


   
   .thisfooter{
    padding-right:25px; 
   margin-top:10px;
   width:auto;
   margin-bottom:0;
   margin-right:0;
   padding-bottom:0; 
   background-color:#333;
       
   }
   
   .footer-nav{
    display:inline-block;
    position: absolute;
    left:5px;
    padding-left:20px;   
    float:left;  
   }
   .footer-links{
       
     display:inline-block;
     padding-left:475px;
     float:right;   
       
   }
   .footer-links li {
     
     float:right; 
     padding-right: 10px;
     list-style:none;
   
           
   }
.footer-nav li a{
    
   float:left; 
    
}
.footer-nav li,.footer-links li{
      
 display:inline-block;
       
}


.headerFrontPage{
   
padding:0;
margin:0;
background-color:rgba(130,130,130,0.9);   
width:auto;
padding-top:30px;
padding-bottom:45px;
 
} 
.footer-nav li:last-child,.footer-links li:last-child{  
   margin-right:0;   
   }
   
   
   .footer-nav li a:link, 
   .footer-nav li a:visited,
   .footer-links li a:link, 
   .footer-links li a:visited{
      text-decoration:none;
      border:0;
      color:#888;
      transition: color 0.2s; 
       
       
   }
    
   
.footer-nav li a:hover, 
.footer-nav li a:active {
    
    
    
    color:#ddd;
}   
.footer-links li:link,
.footer-links li:visited{
    
  
    
    
 font-size:180%   
    
    
    
}

.linkedin ion-icon:hover {
    
    color: #007bb5;
    
    
    
}

.github ion-icon:hover {
    
    color:#32506d;
    
    
    
}
.twitter ion-icon:hover {
    
color:#55acee;
  
}


.facebook ion-icon:hover {
    
    color:#3b5998;
    
    
    
}

 .row

{

margin-bottom: 0;
padding-bottom:0;
border:0;
   
}
.row p{  
text-align: center;
color:#ddd;  
border-bottom:0;  
margin-bottom: 0;
padding-bottom:20px;    
}



.submissionsfooter{
 width:100%;
 margin-bottom:0;
 margin-right:0;
 padding-bottom:0;
 background-color:#333;   
}

.submissions{  
 height:100vh;   
}

.icons{
    float:right;
    padding-right:0;
    margin-left:0px;
  
    
}

.main-nav{
   
float:right;
list-style:none;
margin-top:0px;

}

.main-nav li{  
  display:inline-block;
  margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited
{
padding: 8px 0px;
color:#fff;
text-decoration:none;
text-transform:uppercase;
font-size:90%;
border-bottom:2px solid transparent;
transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active
{
border-bottom: 2px solid #e67e22;      
}





.clearfix:after {
  content: "";
  display: table;
  clear: both;
}