body
{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(images/wave.jpg);
    background-size: cover;
    background-position: center;
    
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color: #ffc107;
}

.cong{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    height: 200px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
    width: 290;
}

.cong a{
    color: yellow;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}

.cong h2{
    margin-top: 50px;
    margin-left: 10px;
}
.signup{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    height: 430px;
    margin-top: 90px;
    margin-left: 180px;
    margin: 0 auto;
}
.signup form{
    width: 240px;
    text-align: center;
}
.signup input{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.signup input[type=button]{
    border: none;
    outline: none;
    width: 190px;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.signup input[type=button]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}